 	page,view {
 		display: flex;
 	}
 	
 	page {
 		background-color: #ffffff;
 	}
 	
 	.center {
 		flex-direction: column;
 	}
 	
 	.logo {
 		width: 750upx;
 		height: 300upx;
 		padding-top: 30upx;
 		box-sizing: border-box;
 		background-color: #FFBF69;
 		flex-direction: column;
 		align-items: center;
 	}
 	
 	.logo-hover {
 		opacity: 0.8;
 	}
 	
 	.logo-img {
 		width: 150upx;
 		height: 150upx;
		margin-top: 10upx;
 		border-radius: 150upx;
		background-color: #EAEAEA;
 	}
 	
 	.logo-title {
 		height: 150upx;
 		flex: 1;
 		align-items: center;
 		justify-content: space-between;
 		flex-direction: row;
 		margin-left: 20upx;
 	}
 	
 	.uer-name {
 		height: 60upx;
 		line-height: 60upx;
 		font-size: 38upx;
 		color: #FFFFFF;
 	}
 	
 	.go-login.navigat-arrow {
 		font-size: 38upx;
 		color: #FFFFFF;
 	}
 	
 	.login-title {
 		height: 150upx;
 		align-items: self-start;
 		justify-content: center;
 		flex-direction: column;
 		margin-left: 20upx;
 	}
 	
 	.center-list {
 		background-color: #FFFFFF;
 		/* margin-top: 20upx; */
 		width: 750upx;
 		flex-direction: column;
 	}
 	
 	.center-list-item {
 		height: 90upx;
 		width: 750upx;
 		box-sizing: border-box;
 		flex-direction: row;
 		padding-right: 20upx;
 	}
 	
 	.border-bottom {
 		border-bottom-width: 1upx;
 		border-color: #c8c7cc;
 		border-bottom-style: solid;
 	}
 	
 	.list-icon {
 		width: 60upx;
 		height: 60upx;
 		line-height: 100upx;
 		margin: auto 20upx;
 	}
 	
 	.list-text {
 		height: 90upx;
 		line-height: 90upx;
 		font-size: 34upx;
 		color: #555;
 		flex: 1;
 		text-align: left;
 	}
 	
 	.navigat-arrow {
 		height: 90upx;
 		width: 40upx;
 		line-height: 90upx;
 		font-size: 40upx;
 		color: #1F847A;
 		text-align: right;
 		font-family: texticons;
 	}