<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--配置驼峰命名，默认值false-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--懒加载设置：显示指定每个需要更改的值，防止版本更新-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
<!--    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>-->
</configuration>